html, body {
  height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px; 
    line-height: 1.2rem;
}

section {
    margin-bottom: 1rem;
}

p {
    margin: 0;
}

h1 {
    font-size: 1rem;   
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img.contact {
    margin-left: -10px;
    margin-top: -10px;
    z-index: -1;
    position:relative;
}

section.contact {
    height: 2.4rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }

    img.contact {
        filter: invert(1);
    }

    a {
        color: #2086FF;
    }
}
