body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px; 
    font-size: 1.5rem;   
    line-height: 1.2em;
    background: #ffffff;
    color: #000000;
}

section {
    margin-bottom: 1em;
}

p {
    margin: 0;
}

h1 {
    font-size: 1em;   
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img.contact {
    margin-left: -10px;
    margin-top: -10px;
    z-index: -1;
    position:relative;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #000000;
        color: #ffffff;
    }

    img.contact {
        filter: invert(1);
    }

    a {
        color: #2086FF;
    }
}
